.button {
  @include flex-center(true);

  min-height: var(--button-height-large);
  padding-inline: 29px;
  font-size: 20px;
  font-weight: 500;
  border-radius: var(--border-radius-small);
  transition-duration: var(--transition-duration);

  @include hover {
    outline: var(--border-accent);
    color: var(--color-accent-pink);
  }
  @include active {
    scale: 0.95;
    opacity: 0.9;
  }

  @include mobile-media {
    font-size: 12px;
    padding-inline: 14px;
  }
  &--transparent {
    --button-height-large: 52px;

    position: relative;
    background-color: var(--color-dark);

    @include mobile-media {
      --button-height-large: 31px;
    }
    &::before {
      position: absolute;
      content: "";
      width: 102%;
      height: 105%;
      border-radius: inherit;
      left: -0.1em;
      top: -0.07em;
      background: var(--color-accent-grad-bright);
      z-index: -1;

      @include mobile-media {
        width: 102.5%;
      }
    }
  }
  &--accent-color {
    background: var(--color-accent-grad-bright);

    @include hover {
      background-color: var(--color-dark);
    }
  }
}

.play-button {
  @include square(8.3vw);
  position: absolute;
  top: 44%;
  left: 50%;
  translate: -50% -44%;
  max-width: 120px;
  min-width: 60px;
  border-radius: 50%;
  border: var(--border-light);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);

  &::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 45%;
    left: 60%;
    top: 50%;
    translate: -60% -50%;
    background: url(/images/svg/icons/play-icon.svg) no-repeat center/ cover;
  }

  @include mobile-media {
    position: relative;
    left: unset;
    top: unset;
    translate: unset;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);

    &::before {
      width: 29%;
      height: 37%;
      left: 58%;
      translate: -58% -50%;
    }
  }
}
