.menu-list {
  display: flex;
  gap: 50px;

  @include tablet-media {
    gap: 35px;
  }
  @include mobile-media {
    gap: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  &__link {
    @include accent-text;

    font-size: 16px;
    line-height: 1.6;

    @include hover {
      background-position: 0 100%;
    }
    @include active {
      scale: 0.95;
      opacity: 60%;
    }
    @include mobile-media {
      display: inline-flex;
      height: 60px;
    }
  }
}
