.page-bg-layer {
  position: relative;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  width: 100%;
  height: auto;
  @include desktop-media {
    overflow: hidden;
  }
}
.radial-bg-glow {
  --radialHeight: 1040px;
  --radialPositionY: 0;
  --radialPositionX: calc(var(--radialHeight) / 2 * -1);

  position: absolute;
  z-index: -1;
  @include square(var(--radialHeight));
  background: url(/images/svg/radial-big.svg) no-repeat center / 110%;
  top: var(--radialPositionY);
  left: var(--radialPositionX);
  border-radius: 50%;
  filter: opacity(60%);

  @include mobile-media {
    --radialHeight: 350px;
  }
  &--small {
    --radialHeight: 886px;
    --radialPositionY: calc(var(--radialHeight) / 2 * -1);
    --radialPositionX: calc(var(--radialHeight) * 0.05);

    top: var(--radialPositionY);
    left: var(--radialPositionX);
    translate: var(--radialPositionX) 0;

    @include mobile-media {
      --radialHeight: 290px;
      --radialPositionX: calc(var(--radialHeight) * -0.15);
    }
  }
  &--right {
    left: unset;
    right: var(--radialPositionX);

    &-top {
      --radialPositionY: calc(var(--radialHeight) * -0.11);

      @include mobile-media {
        --radialPositionY: calc(var(--radialHeight) * -0.1);
        --radialPositionX: calc(var(--radialHeight) / 1.9 * -1);
      }
    }

    &-middle {
      --radialPositionY: var(--radialHeight);
      --radialPositionX: calc(var(--radialHeight) * -0.65);

      @include mobile-media {
        --radialPositionY: calc(var(--radialHeight) * 1.6);
        --radialPositionX: calc(var(--radialHeight) * -0.55);
      }
    }

    &-bottom {
      --radialPositionY: calc(var(--radialHeight) * -0.27);
      top: unset;
      bottom: var(--radialPositionY);

      @include mobile-media {
        --radialPositionY: calc(var(--radialHeight) * 4.73);
        --radialPositionX: calc(var(--radialHeight) / 1.8 * -1);
      }
    }
  }
  &--left {
    &-top {
      --radialPositionY: calc(var(--radialHeight) * 0.45);

      @include mobile-media {
        --radialPositionY: calc(var(--radialHeight) * 0.75);
        --radialPositionX: calc(var(--radialHeight) / 1.5 * -1);
      }
    }

    &-middle {
      --radialPositionY: calc(var(--radialHeight) * 6);
      --radialPositionX: calc(var(--radialHeight) / 2.3 * -1);
    }

    &-bottom {
      --radialPositionY: calc(var(--radialHeight) * 0.5);
      top: unset;
      bottom: var(--radialPositionY);

      @include mobile-media {
        --radialPositionY: calc(var(--radialHeight) * -0.2);
        --radialPositionX: calc(var(--radialHeight) / 2.3 * -1);
      }
    }
  }
}
