.soc1als {
  &__list {
    display: flex;
    align-items: center;
    column-gap: 22px;

    @include mobile-media {
      column-gap: 10px;
    }
  }

  &__link {
    @include hover {
      opacity: 0.8;
    }
    @include active {
      scale: 0.95;
      opacity: 0.6;
    }
  }
  &__icon {
    @include mobile-media {
      width: 19px;
      aspect-ratio: 1;
    }
  }
}
