:root {
  --color-dark: #010208;
  --color-dark-alt: #090823;
  --color-light: #ffffff;
  --color-light-opacity: #ffffffcc;
  --color-accent-pink: #f76bf7;
  --color-accent-pink-bright: #d10ed1;
  --color-accent-aqua: #64cef5;
  --color-accent-aqua-bright: #10a3da;
  --color-accent-grad: linear-gradient(
    158deg,
    var(--color-accent-pink) 0%,
    var(--color-accent-aqua) 100%
  );
  --color-accent-grad-bright: linear-gradient(
    158deg,
    var(--color-accent-pink-bright) 0%,
    var(--color-accent-aqua-bright) 100%
  );

  --border-accent: 1px solid var(--color-accent-pink);
  --border-radius: 15px;
  --border-radius-small: 5px;
  --border-radius-large: 25px;
  // --shadow: 0 5px 0 0 var(--color-dark);

  --font-family-base: "Poppins", sans-serif;
  --font-family-accent: "Orbitron", sans-serif;

  // --container-padding-y: 70px;

  // --input-height: 59px;
  --button-height-large: 54px;
  --button-height: 44px;
  --button-height-small: 36px;

  --transition-duration: 0.3s;

  // paths
  // --image-path: "../../images";

  --container-width: 1200px;
  --container-padding-x: 120px;

  @include mobile-media {
    --button-height-large: 32px;
    --button-height: 32px;
  }
  @include tablet-media {
    --container-padding-x: 60px;
  }
  @include mobile-media {
    --container-padding-x: 24px;
  }
}
